.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: rgb(57, 41, 182);
  color: white;
  height: 40px;
  margin-top: 50px;
  margin-left: 30%;
  margin-bottom: 5%;
}
table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 10%;

  font-size: 20px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
